*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#wrap{
    width: 980px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
header{
    height: 105px;
    border-bottom: 1px solid #ccc;
}
header #logo{
    width: 126px;
    height: 57px;
    display: inline-block;
    background-image: url('img/logo.gif');
    margin: 20px;
    text-indent: -9999px;
}
header img{
    position: relative;
    top: 40px;
}
#submenu{
    float: right;
    position: relative;
    top: 55px;
}
#submenu li{
    float: left;
    list-style: none;
}
#submenu ul li a{
    font-size: 12px;
    color: rgb(109, 109, 109);
    display: inline-block;
    padding:0 5px;
    border-right: 1px solid rgb(131, 131, 131);
}
#submenu ul li:last-child a{
    border: 0;
    padding: 0 0 0 5px;
}
section{
    width: 980px;
    height: 540px;
}
#menu{
    width: 980px;
}
#menu img{
    padding: 30px 40px 10px 0;
}
#menu img:last-child{
    padding-right: 0;
}
#banner{
    width: 980px;
    background-color: rgb(0,168,171);
    text-align: center;
    padding: 10px 0;
}
#banner img{
    padding:0 40px;
    border-right: 1px solid rgb(4, 151, 153);
}
#banner img:last-child{
    border-right: 0;
}
#middle{
    width: 980px;
    height: 150px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
#middle>div{
    float: left;
    width: 310px;
    height: 120px;
    margin-left: 20px;
    margin-top: 10px;
}
#middle>div:first-child{
    margin-left: 10px;
}
#customer .more{
    position: relative;
    bottom: 95px;
}
#notice p{
    font-size: 13px;
    color: rgb(78, 78, 78);
    line-height: 20px;
}
#faq{
    float: right;
}
#faq img{
    padding-bottom: 10px;
}
#notice div{
    display: inline-block;
}
#right{
    padding-left: 0;
    margin-left: 10px;
}
#bottom{
    width: 980px;
    height: 120px;
    border-bottom: 3px solid rgb(0,168,171);
}
#bottom>div{
    float: left;
    margin-right: 50px;
}
#bottom>div:first-child{
    margin-left: 50px;
}
.list h4{
    font-size: 15px;
    color: rgb(71,163,176);
    padding-bottom: 5px;
}
.list li{
    color: rgb(78, 78, 78);
    font-size: 12px;
    list-style-image : url("img/blue_dot.gif");
}
footer{
    width: 980px;
    height: 130px;    
}
footer p{
    width: 500px;
    font-size: 11px;
    color: rgb(78, 78, 78);
    margin-bottom: 15px;
}
footer .finish{
    display: block;
    height: 100px;
    width: 170px;
    float: right;
    position: relative;
    bottom: 140px;
    text-align: right;
}
footer .finish h3{
    font-size: 18px;
    color: rgb(71,163,176);
    padding: 5px 0;
}
select{
    width: 100px;
    margin-bottom: 5px;
}
.finish img{
    padding-left: 1px;
}


