@media screen and (max-width:767px){
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    header{
        background-image: url('images/hambtn.png');
        background-repeat: no-repeat;
        background-position: right;
        margin-right: 10px;
    }
    header>a{
        display: inline-block;
        font-size: 30px;
        color: rgb(63,81,181);
        margin: 10px 20px;
    }
    #mainmenu{
        display: none;
    }
    #mainimg img{
        width: 100%;
    }
    #welcome{
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
        height: 250px;
        text-align: center;
    }
    #welcome h2{
        font-size: 30px;
        color: rgb(63,81,181);
        font-weight: normal;
        margin-top: 60px;
    }
    #welcome p{
        color: rgb(148, 147, 147);
        display: inline-block;
        width: 90%;
        padding-left: 10px;
        margin-top: 60px;
    }
    #promo{
        /* border: 1px solid red; */
        width: 100%;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    #promo ul li{
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    #promo ul li:last-child{
        margin-bottom: 100px;
    }
    #promo ul li h4{
        font-weight: normal;
        font-size: 15px;
        color: rgb(36, 43, 83);
        padding: 10px 0;
    }
    #promo ul li p{
        font-size: 12px;
        color: rgb(160, 158, 158);
    }
    #service{
        width: 100%;
        /* height: 1730px; */
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    #service h2{
        font-size: 28px;
        font-weight: normal;
        color: rgb(63,81,181);
        padding-bottom: 40px;
        text-align: center;
        margin: 30px 0;
    }
    #service ul li{
        float: left;
        width: 100%;
    }
    #service ul li img{
        width: 100%;
        vertical-align: bottom;
    }
    #service ul li .hover{
        display: none;
    }
    #bar{
        clear: both;
        border-bottom: 2px solid rgb(95, 95, 95);
        width: 20px;
        margin: 80px auto;
        padding-top: 80px;
    }
    #food{
        /* clear: both; */
        width: 100%;
        margin: 0 auto;
        /* height: 380px; */
        /* border: 1px solid red; */
    }
    #food h2{
        font-size: 28px;
        font-weight: normal;
        color: rgb(63,81,181);
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    #food ul li{
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    #food ul li img{
        width: 100%;
    }
    #food ul li h5{
        color: #ccc;
        font-weight: normal;
        padding-top: 10px;
    }
    #food ul li p{
        font-size: 15px;
        color: gray;
    }
    #reservation{
        clear: both;
        width: 100%;
        margin: 0 auto;
        height: 350px;
        /* border: 1px solid red; */
        padding-top: 80px;
    }
    #reservation h2{
        font-size: 28px;
        font-weight: normal;
        color: rgb(63,81,181);
        padding-bottom: 90px;
        display: block;
        text-align: center;
    }
    #reservation .leftbox{
        width: 100%;
        padding: 10px;
        /* border: 1px solid blue; */
    }
    #reservation .rightbox{
        width:100%;
        padding: 10px;
        /* border: 1px solid blue; */
    }
    #reservation p{
        font-size: 14px;
        color: rgb(184, 184, 184);
    }
    input{
        width:95%;
        height: 20px;
        border: transparent;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    textarea{
        width: 95%;
        border: transparent;
        border-bottom: 1px solid #ccc;
        height: 127px;
        margin-top: 10px;
    }
    #reservation .btn{
        clear: both;
        padding: 10px 20px;
        background-color: rgb(63,81,181);
        color: #fff;
        font-size: 14px;
        float: right;
        margin-top: 15px;
        margin-right: 20px;
    }
    iframe{
        width: 100%;
        margin-top: 80px;
    }
    section>p{
        width: 100px;
        color: rgb(63,81,181);
        margin: 100px auto;
        font-size: 18px;
    }
}
@media screen and (min-width:768px) and (max-width:1131px){
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    header>a{
        display: inline-block;
        font-size: 30px;
        color: rgb(63,81,181);
        margin: 10px 20px;
    }
    #mainmenu{
        float: right;
        margin-right: 30px;
    }
    #mainmenu ul li{
        float: left;
    }
    #mainmenu ul li a{
        display: inline-block;
        padding: 5px 5px;
        font-size: 14px;
        color: rgba(63,81,181,0.8);
        font-weight: bold;
        margin-right: 10px;
        margin-top: 20px;
    }
    #mainmenu ul li a:hover{
        background-color: rgb(63,81,181);
        color: #fff;
        border-radius: 5px;
    }
    #mainimg img{
        width: 100%;
    }
    #welcome{
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
        height: 250px;
        text-align: center;
    }
    #welcome h2{
        font-size: 30px;
        color: rgb(63,81,181);
        font-weight: normal;
        margin-top: 60px;
    }
    #welcome p{
        color: rgb(148, 147, 147);
        display: inline-block;
        width: 90%;
        padding-left: 10px;
        margin-top: 60px;
    }
    #promo{
        /* border: 1px solid red; */
        width: 95%;
        height: 300px;
        margin: 0 auto;
        border-bottom: 1px solid #eee;
        margin-bottom: 100px;
    }
    #promo ul li{
        float: left;
        width: 25%;
        text-align: center;
    }
    #promo ul li h4{
        font-weight: normal;
        font-size: 15px;
        color: rgb(36, 43, 83);
        padding: 10px 0;
    }
    #promo ul li p{
        font-size: 12px;
        color: rgb(160, 158, 158);
    }
    #service{
        width: 100%;
        /* height: 1730px; */
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    #service h2{
        font-size: 28px;
        font-weight: normal;
        color: rgb(63,81,181);
        padding-bottom: 40px;
        margin-left:10%;
    }
    #service ul li{
        float: left;
        width: 50%;
    }
    #service ul li img{
        width: 100%;
        vertical-align: bottom;
    }
    #service ul li .hover{
        display: none;
    }
    #bar{
        clear: both;
        border-bottom: 2px solid rgb(95, 95, 95);
        width: 25px;
        margin: 70px auto;
        padding-top: 70px;
    }
    #food{
        /* clear: both; */
        width: 90%;
        margin: 0 auto;
        /* height: 380px; */
        /* border: 1px solid red; */
    }
    #food h2{
        font-size: 28px;
        font-weight: normal;
        color: rgb(63,81,181);
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    #food ul li{
        float: left;
        width: 30%;
        margin-left: 20px;
    }
    #food ul li img{
        width: 100%;
    }
    #food ul li h5{
        color: #ccc;
        font-weight: normal;
        padding-top: 10px;
    }
    #food ul li p{
        font-size: 15px;
        color: gray;
    }
    #reservation{
        clear: both;
        width: 90%;
        margin: 0 auto;
        height: 350px;
        /* border: 1px solid red; */
        padding-top: 80px;
    }
    #reservation h2{
        font-size: 28px;
        font-weight: normal;
        color: rgb(63,81,181);
        padding-bottom: 90px;
        display: block;
        text-align: center;
    }
    #reservation .leftbox{
        width: 48%;
        float: left;
        padding: 10px;
        /* border: 1px solid blue; */
    }
    #reservation .rightbox{
        width:48%;
        float: right;
        /* border: 1px solid blue; */
    }
    #reservation p{
        font-size: 14px;
        color: rgb(184, 184, 184);
    }
    input{
        width:100%;
        height: 20px;
        border: transparent;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    textarea{
        width: 100%;
        border: transparent;
        border-bottom: 1px solid #ccc;
        height: 127px;
        margin-top: 10px;
    }
    #reservation .btn{
        clear: both;
        padding: 10px 20px;
        background-color: rgb(63,81,181);
        color: #fff;
        font-size: 14px;
        float: right;
        margin-top: 15px;
    }
    iframe{
        width: 100%;
        margin-top: 80px;
    }
    section>p{
        width: 100px;
        color: rgb(63,81,181);
        margin: 100px auto;
        font-size: 18px;
    }
}
@media screen and (min-width:1132px){
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header>a{
    display: inline-block;
    font-size: 30px;
    color: rgb(63,81,181);
    margin: 10px 20px;
}
#mainmenu{
    float: right;
    margin-right: 10px;
    /* border: 1px solid red; */
    height: 60px;
}
#mainmenu ul li{
    float: left;
}
#mainmenu ul li a{
    display: inline-block;
    padding: 5px 5px;
    font-size: 14px;
    color: rgba(63,81,181,0.8);
    font-weight: bold;
    margin-right: 10px;
    margin-top: 20px;
}
#mainmenu ul li a:hover{
    background-color: rgb(63,81,181);
    color: #fff;
    border-radius: 5px;
}
#mainimg img{
    width: 100%;
}
#welcome{
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 250px;
}
#welcome h2{
    font-size: 30px;
    color: rgb(63,81,181);
    font-weight: normal;
    float: left;
    margin-top: 60px;
}
#welcome p{
    color: rgb(148, 147, 147);
    display: inline-block;
    float: right;
    width: 700px;
    border-left: 1px solid rgb(235, 235, 235);
    padding-left: 10px;
    margin-top: 60px;
}
#promo{
    /* border: 1px solid red; */
    width: 960px;
    height: 400px;
    margin: 0 auto;
}
#promo ul li{
    float: left;
    width: 240px;
    text-align: center;
}
#promo ul li h4{
    font-weight: normal;
    font-size: 15px;
    color: rgb(36, 43, 83);
    padding: 10px 0;
}
#promo ul li p{
    font-size: 12px;
    color: rgb(160, 158, 158);
}
#service{
    width: 1280px;
    height: 790px;
    margin: 0 auto;
}
#service h2{
    font-size: 28px;
    font-weight: normal;
    color: rgb(63,81,181);
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
}
#service ul li{
    float: left;
    width: 318px;
    height: 318px;
    overflow: hidden;
}
#service ul li .hover{
    width: 318px;
    height: 318px;
    background-color: rgba(63,81,181,0.8);
    position: relative;
    z-index: 99;
    bottom: 640px;
    transition: all 0.2s;
    opacity: 0;
}
#service ul li .hover h3{
    font-weight: normal;
    color:#fff;
    padding: 20px 0 0 20px;
}
#service ul li .hover span{
    color: #ccc;
    font-size: 13px;
    margin-left: 20px;
}
#service ul li:hover .hover{
    /* display: block; */
    transform: translateY(318px);
    opacity: 1;
}
#service ul li img{
    width: 100%;
}
#bar{
    border-bottom: 2px solid rgb(95, 95, 95);
    width: 25px;
    margin: 0 auto;
    margin-bottom: 70px;
}
#food{
    width: 960px;
    margin: 0 auto;
    height: 450px;
    /* border: 1px solid red; */
}
#food h2{
    font-size: 28px;
    font-weight: normal;
    color: rgb(63,81,181);
    display: inline-block;
    width: 80px;
    float: left;
}
#food ul{
    float: right;
    width: 810px;
    /* border: 1px solid blue; */
}
#food ul li{
    float: left;
    width: 250px;
    margin-left: 20px;
}
#food ul li img{
    width: 100%;
}
#food ul li h5{
    color: #ccc;
    font-weight: normal;
    padding-top: 10px;
}
#food ul li p{
    font-size: 15px;
    color: gray;
}
#reservation{
    width: 960px;
    margin: 0 auto;
    height: 350px;
    /* border: 1px solid red; */
}
#reservation h2{
    font-size: 28px;
    font-weight: normal;
    color: rgb(63,81,181);
    padding-bottom: 90px;
}
#reservation .leftbox{
    width: 460px;
    float: left;
    padding: 10px;
    /* border: 1px solid blue; */
}
#reservation .rightbox{
    width: 460px;
    float: right;
    /* border: 1px solid blue; */
}
#reservation p{
    font-size: 14px;
    color: rgb(184, 184, 184);
}
input{
    width: 460px;
    height: 20px;
    border: transparent;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
textarea{
    width: 460px;
    border: transparent;
    border-bottom: 1px solid #ccc;
    height: 127px;
    margin-top: 10px;
}
#reservation .btn{
    padding: 10px 20px;
    background-color: rgb(63,81,181);
    color: #fff;
    font-size: 14px;
    float: right;
    margin-top: 15px;
}
iframe{
    width: 100%;
    margin-top: 80px;
}
section>p{
    width: 100px;
    color: rgb(63,81,181);
    margin: 100px auto;
    font-size: 18px;
}
}
