*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
}
header{
    background-color: #1f2327;
    padding-bottom: 70px;
}
header #logo{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    background-color: #1f2327;
    margin-left: 5%;
    display: inline-block;
    padding-top: 30px;
}
header #mainmenu{
    float: right;
    margin-right: 4%;
}
#mainmenu ul li{
    float: left;
}
#mainmenu ul li a{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    padding: 30px 20px;
}
#mainmenu ul li a:hover{
    color: rgb(218, 194, 166);
}
#main{
    background-color: #1f2327;
    /* border: 1px solid red; */
}
#main h2{
    color: #fff;
    font-family: 'MS PMincho';
}
.small{
    width: 90%;
    margin: 0 auto;
}
.small h2{
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 30px;
}
#main img{
    width: 100%;
    vertical-align: bottom;
}
#circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(22, 50, 209);
    color: #fff;
    text-align: center;
    /* font-weight: bold; */
    font-size: 20px;
    margin: 80px auto;
}
#circle p{
    padding-top: 70px;
    /* font-family: 'MS PMincho'; */
}
section{
    width: 90%;
    margin: 0 auto;
}
#photo{
    padding-left: 10px;
    width: 100%;
    height: 1700px;
    /* border: 1px solid red; */
}
#photo ul li{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    /* position: relative; */
}
.big{
    width: 880px;
    height: 550px;
}
.small2{
    width: 780px;
    height: 550px;
}
.big img, .small2 img{
    width: 100%;
    height: 550px;
    vertical-align: bottom;
}
/* .full img{
    width: 1680px;
    height: 900px;
    vertical-align: bottom;
} */
.hover1{
    width: 880px;
    height: 550px;
    background-color: rgba(0,0,0,0.8);
    /* display: none; */
    position: relative;
    z-index: 10;
    bottom:550px;
    opacity: 0;
    transition: all 0.5s;
}
.hover1 p{
    color: rgb(146, 146, 146);
    font-size: 15px;
    text-align: center;
    line-height: 550px;
}    
.hover2{
    width: 780px;
    height: 550px;
    background-color: rgba(0,0,0,0.8);
    /* display: none; */
    position: relative;
    z-index: 10;
    bottom:550px;
    opacity: 0;
    transition: all 0.5s;
}
.hover2 p{
    color: rgb(146, 146, 146);
    font-size: 15px;
    text-align: center;
    line-height: 550px;
}
/* .hover3{
    width: 1680px;
    height: 900px;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    z-index: 10;
    bottom:900px;
    opacity: 0;
    transition: all 0.5s;
}
.hover3 p{
    color: rgb(146, 146, 146);
    font-size: 15px;
    text-align: center;
    line-height: 900px;
} */
#photo ul li:hover .hover1{
    opacity: 1;
}
#photo ul li:hover .hover2{
    opacity: 1;
}
/* .full:hover .hover3{
    opacity: 1;
} */
#bottom{
    clear: both;
    width: 100%;
    background-color: rgb(218, 194, 166);
    height: 350px;
    margin-top: 200px;
}
#bottom p{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    font-family: 'MS PMincho'
}
#bottom .btn{
    display: inline-block;
    background-color: rgb(22, 50, 209);
    color: #fff;
    padding: 10px 20px;
    margin-left: 880px;
    margin-top: 30px;
}
#bottom .btn:hover{
    background-color: #1f2327;
}
#bottom>a{
    float: right;
    display: inline-block;
    padding: 10px 15px;
    background-color: #1f2327;
    color: #fff;
    font-weight: bold;
    margin-right:80px;
    margin-top: 20px;
}
footer{
    width: 100%;
    background-color: #1f2327;
    height: 410px;
}
#leftbox{
    float: left;
    color: #fff;
    font-weight: bold;
    /* border: 1px solid green; */
    width: 400px;
    margin: 100px 0 0 70px;
    font-size: 20px;
}
#leftbox>ul>li>a{
    color: #fff;
    font-weight: bold;
    /* border: 1px solid red; */
    float: left;
    font-size: 20px;
}
#leftbox .work{
    /* border: 1px solid blue; */
    width: 250px;
    float: right;
}
#leftbox ul li ul li a{
    color: rgb(146, 146, 146);
    font-size: 14px;
}
#leftbox ul li ul{
    margin-top: 10px;
}
#leftbox ul li ul li{
    margin-bottom: 5px;
}
#leftbox>ul>li>ul>li>a:hover{
    text-decoration: underline;
    /* font-style: underline; */
}
#rightbox{
    float: right;
    font-weight: bold;
    /* border: 1px solid green; */
    width: 600px;
    margin: 100px 0 0 50px;
}
#rightbox ul li{
    float: left;
    width: 130px;
    margin-left: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
#rightbox ul li p{
    color: rgb(146, 146, 146);
    font-size: 14px;
    margin-top: 10px;
}
#rightbox ul li a{
    color: rgb(146, 146, 146);
    font-size: 14px;
}
footer>p{
    clear: both;
    color: rgb(146, 146, 146);
    font-size: 14px;
    float: right;
    margin: 100px 60px 30px 0;
}

