:root {
    --black: #333333;
    --gray: #666666;
    --gray-1: #999999;
    --gray-2: #b8b7b7;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
#wrap{
    width: 100%;
}
header{
    width: 27%;
    height: 1300px;
    background-color: #dfe9ee;
    float: left;
}
#headerbox{
    /* border: 1px solid red; */
    width: 170px;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}
#topnav{
    display: flex;
    margin-bottom: 300px;
}
#topnav li a{
    display: inline-block;
    padding: 0px 5px;
    font-size: 13px;
}
#topnav li:last-child a{
    color: var(--black);
    font-weight: bolder;
   
}
#topnav li:first-child a{
    color: var(--gray-1);
    font-weight: bold;
    border-right: 1px solid #ccc;
}
#profile span{
    font-size: 14px;
}
#profile p{
    font-size: 13px;
    padding: 10px 0;
    letter-spacing: -1px;
}
#profile>div a{
    font-size: 12px;
    color: var(--gray);
    letter-spacing: -1px;
}
#profile #add{
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    font-size: 13px;
    color: rgb(66, 65, 65);
    font-weight: bold;
    border: 1px solid #ccc;
    margin: 10px 0;
}
#add span{
    color: rgb(93, 212, 23);
    font-size: 11px;
}
#category{
    margin-top: 45px;
}
#category h3{
    font-size: 14px;
    position: relative;
}
#category h3 img{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
#category #line{
    display: inline-block;
    width: 100px;
    border-bottom: 1px dotted rgb(163, 162, 162);
}
#category #mainlist{
    font-size: 13px;
    margin:10px 0;
}
#mainlist li{
    padding: 3px 0;
}
#mainlist li:last-child a{
    text-decoration: underline;
}
#mainlist li a{
    color: var(--black);
}
#information{
    margin-top: 45px;
    border-bottom: 1px dotted rgb(165, 164, 164);
    padding-bottom: 10px;
}
#information h3{
    margin-bottom: 10px;
}
#information li{
    font-size: 13px;
    color: var(--gray);
    padding: 0.5px 0;
}
#information li span{
    font-weight: bold;
    color: rgb(100, 99, 99);
}
#item{
    font-size: 13px;
    color: var(--black);
    display: inline-block;
    margin-bottom: 40px;
}
#banner #search input{
    height: 30px;
    border:1px solid #ccc;
    outline: transparent;
}
#search{
    position: relative;
}
#banner #search img{
    position: absolute;
    top: 1px;
    right: 10px;
    width: 28px;
}
#container{
    width: 790px;
    height: 1300px;
    float: left;
    position: relative;
}
#container #loginbar{
    display: flex;
    float: right;
    margin-top: 5px;
}
#loginbar li a{
    font-size: 13px;
    color: var(--gray-1);
    display: inline-block;
    padding: 0 7px;
    letter-spacing: -2px;
    border-right: 1px solid #ccc;
}
#loginbar #nemo img{
    width: 20px;
    padding-top: 2px;
}
#loginbar li:last-child a{
    border-right: none;
}
#container>a{
    font-size: 13px;
    color: var(--gray-1);
}
#container #login{
    display: inline-block;
    padding: 1px 3px;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-left: 5px;
    color: var(--black);
}
#guest{
    clear: both;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}
#container>h1{
    clear: both;
    float: right;
    margin: 140px 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 28px;
    margin-right: 5px;
    width: 325px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
#mainbox{
    clear: both;
}
#postlist{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    font-size: 13px;
}
#postlist li{
    color: var(--gray-1);
}
#postlist li span{
    color: var(--gray);
    font-weight: bold;
}
#postlist li a{
    color: var(--gray-1);
}
#postlist2{
    width: 740px;
    margin: 0 auto;
}
#postlist2>li{
    height: 35px;
    border-bottom: 1px solid rgb(233, 233, 233);
    line-height: 35px;
}
#postlist2 li ul{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
#postlist2 .black{
    color: var(--gray);
}
#postlist2 .black:hover{
    font-weight: bold;
}
#postlist2 li ul li:last-child{
    color: var(--gray-2);
}
#postlist2>li:first-child{
    height: 35px;
    line-height: 35px;
    color: var(--gray-2);
    border-bottom: 1px solid rgb(168, 168, 168);
    margin-top: 10px;
}
#postlist2>li:first-child li{
    font-size: 12px;
}
.number{
    width: 50px;
    margin: 20px auto;
}
.number a{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 13px;
    color: var(--gray);
    text-align: center;
    line-height: 20px;
}
.css{
    border: 1px solid #ccc;
    font-weight: bold;
    color: var(--black);
}
#postlist3{
    width: 740px;
    margin: 0 auto;
}
#postlist3>li{
    height: 35px;
    border-bottom: 1px solid rgb(233, 233, 233);
    line-height: 35px;
}
#postlist3 li ul{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
#postlist3 .black{
    color: var(--gray);
}
#postlist3 .black:hover{
    font-weight: bold;
}
#postlist3 li ul li:last-child{
    color: var(--gray-2);
}
#postlist3>li:first-child{
    height: 35px;
    line-height: 35px;
    color: var(--gray-2);
    border-bottom: 1px solid rgb(168, 168, 168);
    margin-top: 10px;
}
#postlist3>li:first-child li{
    font-size: 12px;
}
#postbox{
    width: 710px;
    margin: 0 auto;
    margin-top: 75px;
}
#postbox li{
    float: left;
    margin-right: 25px;
    margin-bottom: 30px;
    position: relative;
}
#postbox li a{
    display: block;
}
#postbox li:nth-child(4){
    margin-right: 0;
}
#postbox li:nth-child(8){
    margin-right: 0;
}
#postbox .text h3{
    font-size: 14px;
    color: var(--gray);
    padding: 8px 0;
    letter-spacing: -1px;
}
#postbox .text p{
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--gray-2);
}
#postbox .text p img{
    margin-right: 2px;
}
#topbtn{
    position: absolute;
    bottom: 50px;
    right: 0px;
}
span.tooltip{
	line-height:1.5;
	color:var(--black);
	width:180px;
	background: #fff;
	border:1px solid #eee;
	padding:1em;
    font-size: 12px;
    z-index: 10;
}
span.tooltip strong{
    font-size: 13px;
}